[DEFAULT]

#debug = false
#verbose = true

#
# From stackalytics.processor.config
#

# Storage URI (string value)
runtime_storage_uri = memcached://127.0.0.1:11211

# URI for default data (string value)
default_data_uri = file:///data/default_data.json

# The folder that holds all project sources to analyze (string value)
sources_root = /var/local/stackalytics

# Number of days to update members (integer value)
#days_to_update_members = 30

# The address of file with corrections data (string value)
corrections_uri = file:///data/corrections.json

# URI of review system (string value)
review_uri = gerrit://review.openstack.org

# git base location (string value)
git_base_uri = git://git.openstack.org

# SSH key for gerrit review system access (string value)
ssh_key_filename = /data/id_rsa

# SSH username for gerrit review system access (string value)
ssh_username = username

# URI for default data (string value)
driverlog_data_uri = file:///data/driverlog_default_data.json

# URI of translation team data (string value)
translation_team_uri = file:///data/translation_team.yaml

# How many member profiles to look ahead after the last (integer value)
#members_look_ahead = 250

# Number of seconds to wait for remote response (integer value)
#read_timeout = 120

# How many times to retry after Gerrit errors (integer value)
#gerrit_retry = 10

# The address dashboard listens on (string value)
listen_host = 0.0.0.0

# The port dashboard listens on (integer value)
listen_port = 8080

# Default metric (string value)
#default_metric = marks

# Default release, the most recent if not set (string value)
#default_release = <None>

# Default project type (string value)
#default_project_type = openstack

# The interval specifies how frequently dashboard should check for updates in
# seconds (integer value)
#dashboard_update_interval = 3600

# Name of file to store python profiler data (string value)
#collect_profiler_stats = <None>

# Warn if the age of data is more than this value, sec (integer value)
#age_warn = 172800
